<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pulsuz_Mesaj.userSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pulsuz_Mesaj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pulsuz_Mesaj.userSettings>
            <setting name="bkUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="bkPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="bkBgColor" serializeAs="String">
                <value>AntiqueWhite</value>
            </setting>
            <setting name="azUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="azPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="azBgColor" serializeAs="String">
                <value>AntiqueWhite</value>
            </setting>
            <setting name="acBgColor" serializeAs="String">
                <value>AntiqueWhite</value>
            </setting>
        </Pulsuz_Mesaj.userSettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NEWSBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="">
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NEWSBinding1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="">
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NEWSBinding2" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="">
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="SimpleServiceBinding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="">
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://azinf.net/hers19/server.php" binding="basicHttpBinding"
                bindingConfiguration="NEWSBinding" contract="wsGetNews.NEWSPortType"
                name="NEWSPort" />
            <endpoint address="http://azinf.net/hers19/server.php" binding="basicHttpBinding"
                bindingConfiguration="NEWSBinding1" contract="wsGetNews.NEWSPortType"
                name="NEWSPort1" />
            <endpoint address="http://azinf.net/hers19/server.php" binding="basicHttpBinding"
                bindingConfiguration="NEWSBinding2" contract="wsGetNews.NEWSPortType"
                name="NEWSPort2" />
            <endpoint address="http://azinf.net/hers19/server.php" binding="basicHttpBinding"
                bindingConfiguration="SimpleServiceBinding" contract="wsGetNews.SimpleServicePortType"
                name="SimpleServicePort" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Pulsuz_Mesaj.Properties.Settings>
            <setting name="Pulsuz_Mesaj_Services_SimpleService" serializeAs="String">
                <value>http://yoxlama.com/azinf/WebServices/getNews.php</value>
            </setting>
            <setting name="Pulsuz_Mesaj_AutoCongratulate_AutoCongratulate"
                serializeAs="String">
                <value>http://yoxlama.com/AutoCongratulate/WebServices/autocongrat.php</value>
            </setting>
        </Pulsuz_Mesaj.Properties.Settings>
    </applicationSettings>
</configuration>